<?xml version="1.0" encoding="utf-8" ?>
<beas>

    <!--在service中注入数据库dao层-->
    <bean id="transferService" class="service.impl.TransferServiceImpl">
        <property name="AccountDao" ref="accountDao"></property>
    </bean>

    <!--在dao层加入数据库管理层-->
    <bean id="accountDao" class="dao.impl.AccountDaoImpl">
        <property name="ConnectionUtils" ref="connectionUtils"></property>
    </bean>

    <!--配置数据链接管理-->
    <bean id="connectionUtils" class="utils.ConnectionUtils"/>

    <!--事务管理器-->
    <bean id="transactionManager" class="utils.TransactionManager">
        <property name="ConnectionUtils" ref="connectionUtils"></property>
    </bean>

    <!--代理对象-->
    <bean id="proxyFactory" class="factory.ProxyFactory">
        <property name="TransactionManager" ref="transactionManager"></property>
    </bean>

</beas>